@model SchedulerMVC.Models.DepartmentModels.DepartmentViewModel

<style>
    body {
        background: #082032;
    }
</style>

<link rel="stylesheet" href="~/lib/bootstrap" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<!------ Include the above in your HEAD tag ---------->





<div class="container">
    <div style="width:100%"><h1 class="text-center">Şöbələr</h1></div> 
    @foreach (var item in Model.Departments)
    {
        <div class="jumbotron" style="background-color: #cf6a87">
            <h1 class="display-4">@item.Name</h1>

            @if (item.Organization == null)
            {
                <p class="lead">
                    Silinmiş Təşkilat
                </p>
            }
            else
            {
                <p class="lead">@item.Organization.Name</p>
            }
            <hr class="my-4">
            <p></p>
            @if (Model.Authorization == "true")
            {
                <button class="btn btn-lg btn-light" >@Html.ActionLink("Yeniləyin", "UpdateForm", "Department", new { departmentId = item.DepartmentId })</button>
                <button class="btn btn-light btn-lg" >@Html.ActionLink("Silin", "Delete", "Department", new { departmentId = item.DepartmentId })</button>
            }
        </div>
    }

    @if (Model.Authorization == "true")
    {
        <a class="btn btn-info" asp-controller="Department" asp-action="AddForm" role="button">
            Şöbə əlavə edin
        </a>
    }
</div>

