@model SchedulerMVC.Models.SectorModels.SectorToAddViewModel
<link rel="stylesheet" href="~/lib/bootstrap" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/RegisterForm/regForm.css" />
<link rel="stylesheet" href="~/fonts/font.css" />

<div class="form-body">
    <div class="row">
        <div class="form-holder container">
            <div class="form-content">
                <div class="form-items">
                    <h3>
                        Sektor əlavə edin
                    </h3>
                    <p>
                        Aşağıdakı məlumatları doldurun.
                    </p>
                    <form asp-controller="Sector" asp-action="Add">

                        <div class="col-md-12">
                            <label>Ad</label>
                            <input class="form-control" type="text" asp-for="@Model.Sector.Name" placeholder="Name" required>
                        </div>

                        <div class="col-md-12">
                            <label>Şöbə</label>
                            <select class=" form-control form-select" asp-for="@Model.Sector.DepartmentId" asp-items="@(new SelectList(Model.Departments,"DepartmentId","Name"))"></select>
                        </div>

                        <div class="form-button mt-3">
                            <button id="submit" type="submit" class="btn btn-primary">
                                Əlavə edin
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

