@model SchedulerMVC.Models.ProjectModels.ProjectToAddViewModel
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/lib/bootstrap" />
<link rel="stylesheet" href="~/RegisterForm/regForm.css" />
<link rel="stylesheet" href="~/fonts/font.css" />

<div class="form-body">
    <div class="row">
        <div class="form-holder container">
            <div class="form-content">
                <div class="form-items">
                    <h3>
                        Layihə əlavə edin
                    </h3>
                    <p>
                        Aşağıdakı məlumatları doldurun
                        .
                    </p>
                    <form asp-controller="Project" asp-action="Add">

                        <div class="col-md-12">
                            <label>
                                Layihənin Adı
                            </label>
                            <input class="form-control" type="text" asp-for="@Model.Project.Name" required>
                        </div>

                        <div class="col-md-12">
                            <label>
                                Layihənin təsviri
                            </label>
                            <input class="form-control" type="text" asp-for="@Model.Project.Description" required>
                        </div>

                        <div class="col-md-12">
                            <label>
                                Layihə İştirakçıları
                            </label>
                            <input class="form-control" type="text" asp-for="@Model.Project.Attendances" required>
                        </div>

                        <div class="form-button mt-3">
                            <button id="submit" type="submit" class="btn btn-primary">
                                Təsdiq edin
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
