@model SchedulerMVC.Models.PositionModels.PositionViewModel

<style>
    body {
        background: #ffffff;
    }
</style>


<link rel="stylesheet" href="~/lib/bootstrap" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<div class="container">
    <table class="table table-bordered">
        <thead >
            <tr>
                <th class="col-6">Vəzifə</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Positions)
            {
                <tr>
                    <td>@item.Name</td>
                    @if (Model.Authorization == "true")
                    {
                        <td><button class="btn btn-dark">@Html.ActionLink("Yeniləyin", "UpdateForm", "Position", new { positionId = item.PositionId })</button></td>
                        <td><button class="btn btn-dark">@Html.ActionLink("Silin", "Delete", "Position", new { positionId = item.PositionId })</button></td>
                    }
                </tr>
            }
        </tbody>
    </table>

    @if (Model.Authorization == "true")
    {
        <div class="container form-group d-block">
            <a asp-controller="Position" asp-action="AddForm" class="btn btn-dark ">
                Yeni Vəzifə Əlavə edin
            </a>
        </div>
    }
</div>