@model PositionViewModel
<div class="container"><h2 class="text-center text-dark text">Vezifeler</h2></div>

<div class="container form-group d-block overflow-auto flex-md-row">
    @foreach (var item in Model.Positions)
    {
        <div class="card float-left mr-3" style="width: 18rem;">
            <img class="card-img-top" src="~/css/img/cloud-scheduling.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <div class="btn-group">
                    <button class="btn btn-warning text-decoration-none">@Html.ActionLink("Update", "UpdateForm", "Position", new { organizationId = item.PositionId })</button>
                    <button class="btn btn-warning text-decoration-none">@Html.ActionLink("Delete", "Delete", "Position", new { organizationId = item.PositionId })</button>
                </div>
            </div>
        </div>
    }
</div>
<div class="container form-group d-block">
    <a asp-controller="Position" asp-action="AddForm" class=" btn btn-dark text-decoration-none">
        Add New Position
    </a>
</div>
