@model PositionToUpdateViewModel
<form asp-controller="Position" asp-action="Update">
    <div class="form-group invisible">
        <input type="text" class="form-control" asp-for="@Model.Position.PositionId">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" asp-for="@Model.Position.Name">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
