@model SchedulerMVC.Models.PositionModels.PositionToUpdateViewModel

<link rel="stylesheet" href="~/RegisterForm/regForm.css" />
<link rel="stylesheet" href="~/fonts/font.css" />



<div class="form-body">
    <div class="row">
        <div class="form-holder container">
            <div class="form-content">
                <div class="form-items">
                    <h3>Yeniləyin</h3>
                    <p>Aşağıdakı məlumatları doldurun.</p>
                    <form asp-controller="Position" asp-action="Update">

                        <div class="col-md-12 d-none">
                            <input class="form-control" type="text" asp-for="@Model.Position.PositionId" required>
                        </div>

                        <div class="col-md-12">
                            <label >Ad</label>
                            <input class="form-control" type="text" asp-for="@Model.Position.Name" required>
                        </div>

                        <div class="form-button mt-3">
                            <button id="submit" type="submit" class="btn btn-primary">
                                Təsdiq edin
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
