
@model SchedulerMVC.Models.EmployeeModels.EmployeeLoginViewModel
@{
    Layout = null;
}



<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="~/logintemplate/css/style.css">


<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">
                    Daxil ol
                </h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="wrap d-md-flex">
                    <div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last">
                        <div class="text w-100">
                            <h2>
                                Xoş gəldiniz!
                            </h2>
                            <p>Hesabınız yoxdur?</p>
                            <a asp-controller="Employee" asp-action="AddForm" class="btn btn-white btn-outline-white">Qeydiyyatdan keç</a>
                        </div>
                    </div>
                    <div class="login-wrap p-4 p-lg-5">
                        <div class="d-flex">
                            <div class="w-100">
                                <h3 class="mb-4">Daxil ol</h3>
                            </div>
                            <div class="w-100">
                            </div>
                        </div>
                        <form asp-controller="Home" asp-action="Login" class="signin-form">
                            <div class="form-group mb-3">
                                <label class="label" for="name">
                                    İstifadəçi adı
                                </label>
                                <input type="text" asp-for="@Model.Employee.Username" class="form-control" required>
                            </div>
                            <div class="form-group mb-3">
                                <label class="label" for="password">Şifrə</label>
                                <input type="password" asp-for="@Model.Employee.Password" class="form-control"  required>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary submit px-3">Daxil ol</button>
                            </div>
                            <div class="form-group d-md-flex">
                                <div class="w-50 text-left">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/logintemplate/js/jquery.min.js"></script>
<script src="~/logintemplate/js/popper.js"></script>
<script src="~/logintemplate/js/bootstrap.min.js"></script>
<script src="~/logintemplate/js/main.js"></script>