@model SchedulerMVC.Models.OrganizationModels.OrganizationViewModel
<style>
    body {
        background: #082032;
    }
</style>
<link rel="stylesheet" href="~/lib/bootstrap" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<div class=" container"><h1 class="text-center">Təşkilatlar</h1></div>
@foreach (var item in Model.Organizations)
{
    <div class="jumbotron" style="background-color: #561643; color: white ">
        <h1 class="display-4">@item.Name</h1>
        @if (item.ParentOrganization == null)
        {
            <p class="lead">
                Üst Təşkilat yoxdur
            </p>

        }
        else
        {
            <p class="lead">@item.ParentOrganization.Name</p>
        }
        <p></p>
        <hr class="my-4">
        @if (Model.Authorization == "true")
        {
            <p class="lead">
                <button class="btn  btn-lg" style="background-color: #E980FC" role="button">@Html.ActionLink("Yeniləyin", "UpdateForm", "Organization", new { organizationId = item.OrganizationId })</button>
            </p>

            <p class="lead">
                <button class="btn  btn-lg" style="background-color: #E980FC" role="button">@Html.ActionLink("Silin", "Delete", "Organization", new { organizationId = item.OrganizationId })</button>
            </p>
        }


    </div>

}
@if (Model.Authorization == "true")
{
    <div class="container form-group d-block ">
        <a asp-controller="Organization" asp-action="AddForm" class=" btn text-decoration-none" style="background-color: #E980FC">
            Təşkilat əlavə edin
        </a>
    </div>
}






