@model SchedulerMVC.Models.OrganizationModels.OrganizationToUpdateViewModel


<link rel="stylesheet" href="~/lib/bootstrap" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/RegisterForm/regForm.css" />
<link rel="stylesheet" href="~/fonts/font.css" />
<div class="form-body">
    <div class="row">
        <div class="form-holder container">
            <div class="form-content">
                <div class="form-items">
                    <h3>
                        Təşkilatı yeniləyin
                    </h3>
                    <p>
                        Boşluqları doldurun.
                    </p>
                    <form asp-controller="Organization" asp-action="Update">

                        <div class="col-12 d-none">
                            <input class="form-control " type="text" asp-for="@Model.Organization.OrganizationId">
                        </div>

                        <div class="col-12">
                            <label class="text-light">Ad</label>
                            <input class="form-control " type="text" asp-for="@Model.Organization.Name" required>
                        </div>

                        <div class="col-12">
                            <label class="text-light">
                                Üst təşkilat
                            </label>
                            <select class=" form-control form-select" asp-for="@Model.Organization.ParentOrganizationId" asp-items="@(new SelectList(Model.Organizations,"OrganizationId","Name"))">
                                <option selected> Üst Təşkilatı yoxdur</option>
                            </select>
                        </div>

                        <div class="form-button mt-3">
                            <button id="submit" type="submit" class="btn btn-primary">
                                Təsdiq edin
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>